@namespace oxy url('http://www.oxygenxml.com/extensions/author');

oxy|document {
    background-image:url("personal-images/background.png");
}

personnel:before {
    display:block;    
    padding: 1em;
    font-size: 1.8em;
    content: "Employees";
    font-weight: bold;
    color:#EEEEEE;    
    background-color: rgba(50, 50, 50, 0.6);
}

personnel{
    display:block;      
    margin:2em;     
    font-family: sans-serif;
}

person{
    display:block;
    
    /*Move children to the right*/
    padding-left:315px;
    padding-top: 0.5em;    
    background-color: rgb(194, 218, 223);
    
    /*Each employee has a picture. It will be used as background*/
    background-image: attr("photo", url);
    background-repeat:no-repeat;
    background-position:top left;
    min-width:20em;
    border-right: 1px solid #999;
    border-bottom: 1px solid #999;
    margin-bottom: 2em;
}
@media oxygen AND (platform:webapp){
	person {
		padding-bottom:2em;
		position:relative;
	}
}

person > * {
    padding-bottom: 0.2em;
    background-color: rgba(0,0,0, 0.3);
}

person:after{
    padding:0 0 0.5em 0;
    font-family:monospace;
    font-size: 1em;
    text-align:right;
    width:100%;        
    font-family:monospace;
    /* 
	The actual button to action mapping is defined in the file:
		
	${frameworks}/samples/css/personal.css
	
	The action is defined in the "Personal (Sample)" framework. See Options > Document Types
   */    
}

@media oxygen AND (platform:webapp){
	person:after {
    	position:absolute;
    	right: 1em;
    	bottom:0px;
	}
	person:before{
	    position:absolute;
	}
	
}

person[photo=""] {
    display: block;
    content:
        oxy_label(
          text, "Picture:", 
          width, 8em)
        oxy_urlChooser(columns, 20, edit, "@photo");
}

person > name{
    display:block;
    padding-top:1em;
    padding-bottom:1em;
    padding-right:2em;
    background-color: rgba(255,255,255, 0.7);    
    font-size: 1.4em;
    text-align: right;
 
}

email{
    display:block;
    -oxy-show-placeholder:always;
    color:white;
}

email:before{
    content:"Email:";
    width:9em;
}
@media oxygen AND (platform:webapp){
	email:before{
		width:30%;
	}
}

url {
    display:block;
}

url:before{
    content: 
        oxy_label(
          text, "Homepage:", 
          width, 8em)
        oxy_textfield( 
            edit, "@href",
            columns, 32);
}
@media oxygen AND (platform:webapp){
    url:before {
	    content: 
	        oxy_label(
	          text, "Homepage:", 
	          text-align, left,
	          width, 30%)
	        oxy_textfield( 
	            edit, "@href",
	            width, 60%);
    }
}


name:before, email:before, link:before, url:before{
    color:white;
    display:inline;
    font-weight:bold;
    padding-left: 1em;
}
@media oxygen AND (platform:webapp){
    email:before{
       display: inline-block;
    }
}

link{
    display:block;
}

link:before{
    content: 
        oxy_label(
          text, "Direct manager:", 
          width, 8em)
        oxy_combobox( 
            edit, "@manager",
            columns, 15);

}

link[subordinates]:before{
    content:
        oxy_label(text, "Subordinates:", width, 8em)
        oxy_popup(
            columns, 20,
            fontInherit, true,
            edit, '@subordinates',  
            selectionMode, multiple,
            rendererSeparator, ", ");
}
@media oxygen AND (platform:webapp){
	link:before {
	    content: 
	        oxy_label(
	          text, "Direct manager:", 
	          text-align, left
	          width, 30%)
	        oxy_textfield( 
	            edit, "@manager",
	            width, 60%);
    }
	link[subordinates]:before {
	    content:
	        oxy_label(
	            text, "Subordinates:",
	            text-align, left
	            width, 30%)
	        oxy_textfield( 
	            edit, "@subordinates",
	            width, 60%)
	}
}

family, given {
       -oxy-display-tags:none;
       padding-left: 0.2em;
}



/* Rules for when a person is in EDIT mode*/
person:-oxy-edit-mode given:before {
    font-size:14px;
    content: oxy_label(text, "Given name: ", width, 30%, text-align, right) oxy_textfield(edit, '#text', width, 60%)
}

person:-oxy-edit-mode family:before {
    font-size:14px;
    content: oxy_label(text, "Family name: ", width, 30%, text-align, right) oxy_textfield(edit, '#text', width, 60%)
}

person:-oxy-edit-mode > email:before {
    font-size:14px;
    content: oxy_label(text, "Email: ", width, 30%, text-align, right) oxy_textfield(edit, '#text', width, 60%);
}

person:-oxy-edit-mode > link[subordinates]:before {
    font-size:14px;
    content: oxy_label(text, "Subordinates: ", width, 30%, text-align, right) oxy_textfield(edit, '@subordinates', width, 60%);
}

person:-oxy-edit-mode > link[manager]:before {
    font-size:14px;
    content: oxy_label(text, "Manager: ", width, 30%, text-align, right) oxy_textfield(edit, '@manager', width, 60%);
}

person:-oxy-edit-mode > url:before {
    font-size:14px;
    content: oxy_label(text, "Home page: ", width, 30%, text-align, right) oxy_textfield(edit, '@href', width, 60%);
}

person:-oxy-edit-mode given,
person:-oxy-edit-mode family,
person:-oxy-edit-mode email {
    visibility:-oxy-collapse-text;
}

person:-oxy-edit-mode given,
person:-oxy-edit-mode family {
    display:block;
}

person:-oxy-edit-mode name:before, 
person:-oxy-edit-mode email:before, 
person:-oxy-edit-mode link:before, 
person:-oxy-edit-mode url:before{
    padding-left: 0em;
}

person:-oxy-edit-mode family, 
person:-oxy-edit-mode given {
       padding-left: 0em;
}

person:-oxy-edit-mode > name {
    padding-right:0px;
    text-align: left;
}

person:-oxy-edit-mode:before {
background-color: rgb(255,255,255);
    display: block;
    font-size:14px;
    content:
    oxy_button(actionID, 'toggle.edit.mode', transparent, true) 
    "\A " 
    oxy_label(text, "Picture: ", width, 30%, text-align, right) 
    oxy_urlChooser(columns, 20, edit, "@photo", width, 60%);
}
@media oxygen AND (platform:webapp){
	person:-oxy-edit-mode:before {
	    padding-bottom:1em;
	}
}

@media oxygen-high-contrast-black, oxygen-dark-theme{
    person > name{
        background-color: rgba(85,85,85, 0.9);    
    }
}
